@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}
.scrollBar {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) #f0f0f0;

  /* For Firefox */
  scrollbar-width: thin;
  scrollbar-color: var(--primary) #f0f0f0;
}

/* For Webkit browsers like Chrome or Safari */
.scrollBar::-webkit-scrollbar {
  width: 8px;
}

.scrollBar::-webkit-scrollbar-track {
  background: #f0f0f0; /* track color */
}

.scrollBar::-webkit-scrollbar-thumb {
  background-color: var(--primary); /* thumb color */
  border-radius: 10px;
}

.scrollBar-Hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollBar-Hide::-webkit-scrollbar {
  display: none;
}
